#ignore
node_modules
npm-debug.log

dev/
prod/
build/files/vendor/

.ftppass
build/.grunt/ftpush/*

build/files/data/sites/**/img/*
build/files/data/sites/**/misc/robots.txt

#compilied files
compiled.json
*-imgarchive.zip

#temp ignore
TODO.txt

#allow
!build/files/data/sites/**/img/README
